/* UNIVERSAL SELECTOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

/* BOILER PLATE */
html,
body {
    height: 100%;
    width: 100%;
}

/* BODY */
body {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD DIV */

#card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

/* IMG */
img{
    width: 100%;
    height: 55%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/*CARD > H1*/
#card h1{
    font-size: 30px;
    margin: 10px 0px;
     
}

/*CARD > H5*/
#card h5{
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0px;
    color: red;


}

/* BUTTON */
#btn-container button{
    color: #fff;
    background-color: cadetblue;
    border-radius: 5px;
     font-weight: 700;
    padding: 12px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
 
/* REMOVE BUTTON */
#btn-container #remove{

    background-color: #dadada;
    color:#111;
   
     
}

